.btnPurple{
    border: none;
    border-radius: 13px;
    background-color: $blue;
    color: $white;
    width: 528px;
    height: 47px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.btnPurple:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#btnSubmit{
    width: 471px;
    margin-left: 11px;
    background-color: $green;
    border: none;
    height: 64px;
    color: $white;
    font-weight: 900;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: background-color 0.3s ease;
}

#btnSubmit:hover{
    background-color: $blue;
}

#btnSubmit:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}